@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 95%;
    --foreground: 147 39% 38%;

    --card: 0 0% 100%;
    --card-foreground: 147 39% 38%;

    --popover: 0 0% 100%;
    --popover-foreground: 147 39% 38%;

    --primary: 147 39% 38%;
    --primary-foreground: 0 0% 95%;

    --secondary: 0 0% 95%;
    --secondary-foreground: 147 39% 38%;

    --muted: 0 0% 90%;
    --muted-foreground: 147 39% 38%;

    --accent: 147 39% 38%;
    --accent-foreground: 0 0% 95%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 95%;

    --border: 147 39% 88%;
    --input: 147 39% 88%;
    --ring: 147 39% 38%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 147 39% 38%;
    --foreground: 0 0% 95%;

    --card: 147 39% 38%;
    --card-foreground: 0 0% 95%;

    --popover: 147 39% 38%;
    --popover-foreground: 0 0% 95%;

    --primary: 0 0% 95%;
    --primary-foreground: 147 39% 38%;

    --secondary: 147 39% 45%;
    --secondary-foreground: 0 0% 95%;

    --muted: 147 39% 45%;
    --muted-foreground: 0 0% 85%;

    --accent: 147 39% 45%;
    --accent-foreground: 0 0% 95%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 95%;

    --border: 147 39% 45%;
    --input: 147 39% 45%;
    --ring: 0 0% 95%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

.animate-ripple-1,
.animate-ripple-2,
.animate-ripple-3 {
  stroke-linecap: round;
  stroke-linejoin: round;
  fill: none;
  stroke-dasharray: 5;
}
